<a href="https://colab.research.google.com/github/choi2q/python_programming/blob/main/python_programming_functions(9%EC%A3%BC%EC%B0%A8)_2022165751%20%EC%B5%9C%EC%9D%B8%EA%B7%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#Comprehension

In [ ]:
number_list = []
number_list.append(1) 
number_list.append(2) 
number_list.append(3) 
number_list.append(4) 
number_list.append(5)

In [32]:
number_list

[1, 2, 3, 4, 5]

In [30]:
number_list = []
for number in range(1, 6):
  number_list.append(number)

In [33]:
number_list

[1, 2, 3, 4, 5]

In [34]:
number_list = list(range(1, 6))
number_list

[1, 2, 3, 4, 5]

In [35]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [38]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [40]:
a_list = [number for number in range(1,6) if number % 2 == 1]
a_list

[1, 3, 5]

In [28]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [29]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [9]:
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [10]:
[(x, x ** 2, x ** 3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [ ]:
#Functions and code structure#

In [11]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
  for col in cols:
    print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [12]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
  print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [13]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [42]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [43]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
letter_counts

{'s': 1, 't': 2, 'l': 1, 'e': 2, 'r': 1}

In [44]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}

In [ ]:
#Functions and code structure#

In [21]:
def sum(a,b):
  return a+b

In [22]:
sum(1,2)

3

In [23]:
sum(1.3, 3.1)

4.4

In [26]:
sum('Love',' python')

'Love python'

In [45]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
  print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [47]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'

list( zip(english, french) )
dict( zip(english, french) )

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [52]:
def menu(wine, entree, dessert):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [53]:
menu('chardonnay', 'chicken', 'cake')
{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [55]:
 menu(entree='beef', dessert='bagel', wine='bordeaux')
{'dessert': 'bagel', 'wine': 'bordeaux', 'entree': 'beef'}

{'dessert': 'bagel', 'wine': 'bordeaux', 'entree': 'beef'}

In [56]:
menu('frontenac', dessert='flan', entree='fish')
{'entree': 'fish', 'dessert': 'flan', 'wine': 'frontenac'}

{'entree': 'fish', 'dessert': 'flan', 'wine': 'frontenac'}

In [60]:
def menu(wine, entree, dessert='pudding'):
  return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [62]:
menu('chardonnay', 'chicken')
{'dessert': 'pudding', 'wine': 'chardonnay', 'entree': 'chicken'}

{'dessert': 'pudding', 'wine': 'chardonnay', 'entree': 'chicken'}

In [63]:
menu('dunkelfelder', 'duck', 'doughnut')
{'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

{'dessert': 'doughnut', 'wine': 'dunkelfelder', 'entree': 'duck'}

In [64]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
  return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [67]:
menu(100)
menu(price=100)
menu(price=120, entree='beef')
menu(dessert='bagel', price=110)
menu('eighty' 'saint-pierre', 'fish')

{'price': 'eightysaint-pierre',
 'wine': 'fish',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [69]:
def echo(anything):
  'echo returns its input argument'
  return anything

In [71]:
echo(1)

1

In [78]:
def print_if_true(thing, check):
  """
  Prints the first argument if a second argument is true.
  The operation is:
  1. Check whether the *second* argument is true.
  2. If it is, print the *first* argument.
  """
  if check:
    print(thing)

In [79]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Prints the first argument if a second argument is true.
    The operation is:
    1. Check whether the *second* argument is true.
    2. If it is, print the *first* argument.