<a href="https://colab.research.google.com/github/choi2q/python_programming/blob/main/%ED%81%B4%EB%9E%98%EC%8A%A4%20II_2022165751_%EC%B5%9C%EC%9D%B8%EA%B7%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
result=0

def adder(num):
  global result
  result +=num
  return result

  print(adder(3))
  print(adder(4))

In [4]:
print(adder(4))

4

In [5]:
  print(adder(5))

9

In [6]:
result1=0
result2=0

def adder1(num):
  global result1
  result1 +=num
  return result1

def adder2(num):
  global result2
  result2 +=num
  return result2

In [7]:
  print(adder1(3))

3

In [13]:
  print(adder1(4))

27

In [14]:
  print(adder2(3))

3

In [15]:
  print(adder2(4))

7

In [35]:
class Calculator:
  def __init__(self):
    self.result = 0

  def adder(self, num):
    self.result +=num
    return self.result

cal1=Calculator()
cal2=Calculator()

cal1.adder(3)

3

In [32]:
cal1.adder(4)

7

In [36]:
cal2.adder(14)

14

In [37]:
cal2.adder(16)

30

In [38]:
class Service:
  secret="지구는 4006년에 멸망한다."

In [39]:
an=Service()

In [40]:
an.secret

'지구는 4006년에 멸망한다.'

In [43]:
Service.secret

'지구는 4006년에 멸망한다.'

In [44]:
Service.secret="지구는 4006년에 멸망한다는 사실은 뻥이다."

In [45]:
an.secret

'지구는 4006년에 멸망한다는 사실은 뻥이다.'

In [63]:
class Service:
  secret = "지구는 4006년에 멸망한다."
  def sum(self, a, b):
      result = a + b
      print("%s + %s = %s이다." % (a, b, result))

In [64]:
an = Service()

In [65]:
an.sum(1, 1)

1 + 1 = 2이다.

In [78]:
class Service:
  secret = "지구는 4006년에 멸망한다."
  def setname(self, name):
      self.name = name
  def sum(self, a, b):
      result = a + b
      print("%s님, %s + %s = %s이다." % (self.name, a, b, result))

In [79]:
an = Service()

In [80]:
an.setname("박달도사")

In [81]:
an.sum(1, 1)

박달도사님, 1 + 1 = 2이다.

In [84]:
kim = Service()
park = Service()
kim.name = "김인규"
park.name = "박인규"

In [85]:
print(kim.name)

김인규

In [86]:
print(park.name)

박인규

In [88]:
kim.secret = "비밀은 없다."
print(park.secret)

지구는 4006년에 멸망한다.

In [89]:
print(kim.secret)

비밀은 없다.

In [90]:
Service.secret

'지구는 4006년에 멸망한다.'

In [96]:
class Fourcal:
  pass

In [99]:
a = Fourcal()

In [100]:
type(a)

__main__.Fourcal

In [111]:
class Fourcal:
  def setdata(self, first, second):
    self.first = first
    self.second = second

In [112]:
a = Fourcal()

In [113]:
a.setdata(4,2)

In [115]:
print(a.first)

4

In [116]:
print(a.second)

2

In [118]:
class Fourcal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result

In [119]:
a = Fourcal()

In [120]:
a.setdata(4,2)

In [121]:
print(a.sum())

6

In [133]:
class Fourcal:
  def setdata(self, first, second):
    self.first = first
    self.second = second
  def sum(self):
    result = self.first + self.second
    return result
  def mul(self):
    result = self.first * self.second
    return result
  def sub(self):
    result = self.first - self.second
    return result
  def div(self):
    result = self.first / self.second
    return result

In [134]:
a = Fourcal()

In [135]:
b = Fourcal()

In [136]:
a.setdata(4,2)

In [137]:
b.setdata(3,7)

In [138]:
a.sum()

6

In [139]:
a.mul()

8

In [140]:
a.sub()

2

In [141]:
a.div()

2.0

In [142]:
b.sub()

-4

In [145]:
import random

player1_dice = []
player2_dice = []

for i in range(3) :
  player1_dice.append(random.randint(1,6))
  player2_dice.append(random.randint(1,6))

print("Player 1 rolled" + str(player1_dice))
print("Player 2 rolled" + str(player1_dice))

if sum(player1_dice) == sum(player2_dice):
  print("Deaw")
elif sum(player1_dice) > sum(player2_dice):
  print("Player 1 wins")
else:
  print("Player 2 wins")

Player 1 rolled[6, 3, 5]
Player 2 rolled[6, 3, 5]
Player 1 wins

In [146]:
from random import randint

class Player:
  def __init__(self):
    self.dice = []

  def roll(self):
    self.dice = [] # clears current dice
    for i in range(3):
      self.dice.append(randint(1,6))

  def get_dice(self):
    return self.dice

player1 = Player()
player2 = Player()

player1.roll()
player2.roll()

print("Player 1 rolled" + str(player1.get_dice()))
print("Player 2 rolled" + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
  print("Draw!")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
  print("Player 1 wins!")
else:
  print("Player 2 wins!")

Player 1 rolled[2, 1, 2]
Player 2 rolled[2, 5, 1]
Player 2 wins!

In [161]:
class Customer(object):

    def __init__(self, name, balance=0.0):
        self.name = name
        self.balance = balance

    def withdraw(self, amount):
        if amount > self.balance:
            raise RuntimeError('Amount greater than available balance.')
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

In [162]:
BOB = Customer('BOB CHOI', 1000.0)